:root{
    --font-text: ibm;
    --color-black: #000000;
    --color-green: #1AB311;
    --typeSpeed: 1s;
}

@font-face {
    font-family: ibm;
    src: url("../fonts/IBMPlexMono-Bold.ttf");
}

@font-face {
    font-family: ibmSemi;
    src: url("../fonts/IBMPlexMono-SemiBold.ttf");
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: var(--color-black);
    color: var(--color-green);
    font-family: var(--font-text);
    text-align: left;
}

a{
    color: var(--color-green);
    text-decoration: none;
}

span{
    font-size: 1.5rem;
    margin-top: 5vh;
}

span, h1{
    letter-spacing: 2px;
    line-height: 2;
}
.content{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;
}

.head{
    height: 50px;
    margin-left: 90vw;
}

.head .iconify{
    font-size: 50px;   
    margin-top: 2vh;
}

.btn-aceitar{
    border: solid 2px var(--color-green);
    padding: 20px 100px 20px 100px;
    margin-top: 5vh;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5vh;
}

h1, .lineOne, .lineTwo, .lineThree, .lineFour, .lineFive, .lineSix, .lineSeven, .lineEight{
    font-size:  1.5rem;
    position: relative;
    width: max-content;
    padding-bottom: 2px;
}

h1::before, 
h1::after,
.lineOne::after,
.lineOne::before,
.lineTwo:after,
.lineTwo:before,
.lineThree::before,
.lineThree::after,
.lineFour::after,
.lineFour::before,
.lineFive::after,
.lineFive::before,
.lineSix::before,
.lineSix::after,
.lineSeven::before,
.lineSeven::after,
.lineEight::before,
.lineEight::after{
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute; 
}

h1::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(40) 750ms forwards;
}

h1::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(40) 750ms forwards,
        piscar 750ms steps(40) infinite;
    height: 40px;
}


.lineOne::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(17) 4s forwards;
    animation-delay: 2s;

}

.lineOne::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(17) 4s  forwards,
        piscar 750ms steps(17) infinite;
    height: 40px;
    animation-delay: 2s;
}

.lineTwo::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(66) 4s forwards;
    animation-delay: 3.5s;
}

.lineTwo::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(66) 4s  forwards,
        piscar 750ms steps(66) infinite;
    height: 40px;
    animation-delay: 3.5s;
}

.lineThree::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(32) 4s forwards;
    animation-delay: 5s;
}

.lineThree::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(32) 4s  forwards,
        piscar 750ms steps(32) infinite;
    height: 40px;
    animation-delay: 5s;
}

.lineFour::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(64) 4s forwards;
    animation-delay: 6.5s;
}

.lineFour::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(64) 4s  forwards,
        piscar 750ms steps(64) infinite;
    height: 40px;
    animation-delay: 6.5s;
}


.lineFive::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(64) 4s forwards;
    animation-delay: 8s;
}

.lineFive::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(64) 4s  forwards,
        piscar 750ms steps(64) infinite;
    height: 40px;
    animation-delay: 8s;
}

.lineSix::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(12) 4s forwards;
    animation-delay: 9s;
}

.lineSix::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(12) 4s  forwards,
        piscar 750ms steps(12) infinite;
    height: 40px;
    animation-delay: 9s;
}

.lineSeven::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(46) 4s forwards;
    animation-delay: 10.5s;
}

.lineSeven::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(46) 4s  forwards,
        piscar 750ms steps(46) infinite;
    height: 40px;
    animation-delay: 10.5s;
}

.lineEight::before{
    background: var(--color-black);
    animation: type var(--typeSpeed) steps(46) 4s forwards;
    animation-delay: 12s;
}

.lineEight::after{
    width: 0.125em;
    background: var(--color-green);
    animation: 
        type var(--typeSpeed)  steps(46) 4s  forwards,
        piscar 750ms steps(46) infinite;
    height: 40px;
    animation-delay: 12s;
}

@keyframes type{
    to{ 
        left: 100%;
    }
}

@keyframes piscar{
    to{
        background: transparent;
    }
}

