:root{
    --color-white: #FFFFFF;
    --color-disabled: #c5c5c5a2;
    --color-black: #111111;
    --color-light-blue: #3264AE;
    --color-blue: #0F0054;
    --font-light: montserratLight;
    --font-logo: logo;
    --font-bold: montserratBold;
    --font-regular: montserrat;
    --font-thin: montserratThin;
}

@font-face {
    font-family: montserratThin;
    src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: montserratLight;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: montserratBold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face{
    font-family: logo;
    src: url("../fonts/MADE\ Evolve\ Sans\ Bold\ EVO\ \(PERSONAL\ USE\).otf")
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #1AB311;
}

a{
    color: #1AB311;
    text-decoration: none;
}